<h1 class= "d-flex justify-content-center text-info">Editar noticia</h1>
<%= render "form", notice: @notice %>
<br>
<div class= "btn btn-primary">
  <%= link_to "Ver", @notice, :class =>"link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
</div>
<br>
<div class= "btn btn-primary">
  <%= link_to "Volver a noticias", notices_path, :class =>"link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
</div>
