<h1 class= "d-flex justify-content-center">Editar noticia</h1>
<%= render "form", notice: @notice %>
<br>
<div class= "btn btn-primary">
  <%= link_to "Mostrar esta noticia", @notice %>
</div>
<br>
<div class= "btn btn-primary">
  <%= link_to "Volver a noticias", notices_path %>
</div>
