<h1 class= "d-flex justify-content-center text-info">Nueva noticia</h1>
<%= render "form", notice: @notice %>
<br>
<div class ="btn btn-primary text-white">
  <%= link_to "Volver a noticias", notices_path %>
</div>
