<h1>Editando comentario</h1>
<%= render "form", comment: @comment %>
<br>
<div class= "d-flex justify-content-center" >
  <%= link_to "Mostrar este comentario", @comment %> |
</div>
<div class= "d-flex justify-content-center" >
  <%= link_to "Volver a comentarios", comments_path %>
</div>
