<h1  class= "d-flex justify-content-center text-info" >Nuevo comentario</h1>
<%= render "form", comment: @comment %>
<br>
<div>
  <%= link_to "Volver a comentarios", comments_path, :class =>"link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
</div>
